<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'Dropping :: '+ ${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" type="image/png" th:href="@{images/favicon.png}" />
    <link rel="stylesheet" type="text/css" th:href="@{stylesheets/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{javascripts/bootstrap.min.js}"></script>
</head>
<body class="container">
    
</body>
</html>		